a:link {color:#FFFFCC;}      /* 未访问链接*/
a:visited {color:#FFFFCC;}  /* 已访问链接 */
a:hover {color:#FFFFCC;}  /* 鼠标移动到链接上 */
a:active {color:#FFFFCC;}  /* 鼠标点击时 */
body{
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(./bg.jpg);
}
.center-in-center{
    position: absolute;
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    color: white;
    font-size: 20px;
    text-shadow: -1.5px 1.5px 0 #000, 1.5px -1.5px 0 #000, 1.5px 1.5px 0 #000, -1.5px -1.5px 0 #000, 1.5px 0px 0 #000, -1.5px 0px 0 #000, 0px -1.5px 0 #000, 0px 1.5px 0 #000, 0px 0px 10px #006064, 0px 0px 5px #006064, 0px 0px 20px #000;
}
.bottom{
    backdrop-filter: blur(5px);
    padding: 5px 0;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
